#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "Tarik Eshaq"
email = "tarikeshaq@gmail.com"


[ui]
editor = "nvim"

[signing]
behavior = "drop"
backend = "ssh"
key = "~/.ssh/id_ed25519.pub"


[git]
sign-on-push = true
